*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: rgb(211, 210, 210);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #2ec0f3;
  --background-color: #1f1f21;
  --title-color: #f1f1f1;
  --text-color: #504f50;
  --second-background: #3f4349;
  --second-hover-background: #26292c;

}

#root {
  min-width: 100vw;
  min-height: 100vh;
}